<h2>Thêm khóa học</h2>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Tên ..."
      value="<%= olds?.name %>"
    />
    <span class="text-danger"> <%= errors.name %> </span>
  </div>
  <div class="mb-3">
    <label for="">Mô tả</label>
    <input
      type="text"
      name="desc"
      class="form-control"
      placeholder="Mô tả ..."
      value="<%= olds?.desc %>"
    />
    <span class="text-danger"> <%= errors.desc %> </span>
  </div>
  <div class="mb-3">
    <label for="">Giá</label>
    <input
      type="number"
      name="price"
      value="<%= olds?.price %>"
      class="form-control"
      placeholder="Giá ..."
    />
    <span class="text-danger"> <%= errors.price %> </span>
  </div>
  <div class="mb-3">
    <label for="">Trạng thái</label>
    <select name="status" id="" class="form-select">
      <option value="active">Kích hoạt</option>
      <option value="inactive">Chưa kích hoạt</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Lưu</button>
  <a href="/" class="btn btn-danger">Hủy</a>
</form>
