<div class="login-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 mb-5">
        <h1 class="mb-3 text-center mt-4">Register</h1>
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form action="" method="post" class="row g-4">
                  <div class="col-12">
                    <label>Name<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-person-fill"></i>
                      </div>
                      <input
                        type="text"
                        value="<%= old?.name %>"
                        class="form-control"
                        placeholder="Enter Name"
                        name="name"
                      />
                    </div>
                    <span class="text-danger"
                      ><%- validate.getError(errors,"name") %></span
                    >
                  </div>
                  <div class="col-12">
                    <label>Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-envelope-fill"></i>
                      </div>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Enter Email"
                        name="email"
                        value="<%= old?.email %>"
                      />
                    </div>
                    <%- exist.length ? `
                    <div class="text-danger">${exist[0]}</div>
                    `: '' %>
                    <span class="text-danger"
                      ><%- validate.getError(errors,"email") %></span
                    >
                  </div>

                  <div class="col-12">
                    <label>Password<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        value="<%= old?.password %>"
                        placeholder="Enter Password"
                      />
                    </div>
                    <span class="text-danger"
                      ><%- validate.getError(errors,"password") %></span
                    >
                  </div>
                  <div class="col-12">
                    <label>Status<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-calendar2-fill"></i>
                      </div>
                      <select name="status" id="" class="form-select">
                        <option value="active" <%= (old?.status) ? 'selected' : '' %>>Kích hoạt</option>
                        <option value="inactive"  <%= (!old?.status) ? 'selected' : '' %>>Chưa kích hoạt</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary px-4 float-end mt-4"
                    >
                      Register
                    </button>
                  </div>
                  <div class="text-center">
                    <p>
                      Do you already have an account? <a href="/login">Login</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <div
                class="form-right h-100 bg-primary text-white text-center pt-5"
              >
                <i class="bi bi-bootstrap"></i>
                <h2 class="fs-1">Welcome Back!!!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
