<h2>Thêm người dùng</h2>
<%- msg?.length ? `
<div class="alert alert-success" role="alert">${msg[0]}</div>
`: '' %>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên</label>
    <input type="text" name="name" class="form-control" placeholder="Tên ..." />
  </div>
  <div class="mb-3">
    <label for="">Email</label>
    <input
      type="email"
      name="email"
      value="<%= old?.email %>"
      class="form-control"
      placeholder="Email ..."
    />
    <%- exist.length ? `
    <div class="text-danger">${exist[0]}</div>
    `: '' %>
  </div>
 
  <div class="mb-3">
    <label for="">Password</label>
    <input
      type="password"
      name="password"
      value="<%= old?.password %>"
      class="form-control"
      placeholder="Password ..."
    />
  </div>
  <div class="mb-3">
    <label for="">Trạng thái</label>
    <select name="status" id="" class="form-select">
      <option value="active" <%= (old?.status) ? 'selected' : '' %>>Kích hoạt</option>
      <option value="inactive" <%= (!old?.status) ? 'selected' : '' %>>Chưa kích hoạt</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Lưu</button>
  <a href="/users" class="btn btn-danger">Hủy</a>
</form>
